body {
    font-family: sans-serif;
}

main {
    display: flex;
    align-items: flex-start;
    font-size: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

header {
    border: 0em;
    border-radius: 25px;
    width: 400px;
    height: 550px;
    margin: 15px;
    box-shadow: 20px 20px 35px rgb(109, 106, 106);

}

.card-tekst1 {
    background-color: #fff;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;


}

.card-tekst2 {
    background-color: #686de0;
    color: #fff;
    padding-left: 65px;
    padding-top: 45px;
    padding-bottom: 0px;
}

.card-tekst3 {
    background-color: #686de0;
    color: #aaabce;
    padding-left: 65px;
    padding-top: 5px;
    padding-bottom: 100px;
}

.dot {
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 50%;
    border-color: #fff;
    border-width: 5px;
    display: inline-block;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: -75px;
}

.label {
    height: 140px;
    width: 140px;
    background-color: fill;
    display: inline-block;
    margin-left: 125px;
    margin-bottom: -75px;
}

