body {
    font-family: sans-serif;
}

main {
    display: flex;
    align-items: flex-start;
    font-size: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

header {
    border: 0em;
    border-radius: 25px;
    width: 400px;
    height: 550px;
    margin: 15px;
    box-shadow: 20px 20px 35px rgb(109, 106, 106);
}

p {
    padding-left: 35px;
    padding-top: 35px;
    padding-right: 35px;
    font-size: x-large;
}

.card-tekst1 {
    background-color: #fff;
}

.card-tekst2 {
    background-color: #686de0;
    color: #fff;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 0px;
}

.card-tekst3 {
    background-color: #686de0;
    color: #aaabce;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 100px;
}

.dot {
    height: 149px;
    width: 149px;
    background-color: #fff;
    border-radius: 50%;
    border-color: #fff;
    border-width: 5px;
    display: inline-block;
    margin-left: 125px;
    margin-right: 123px;
    margin-bottom: -76px;
}

img {
    height: 144px;
    width: 140px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: 130px;
    margin-bottom: -222px;
}


